/config/*
!/config/default_config
!/config/skills
/knowledge.md
/logs
/node_modules
/plugins/*
!/plugins/adapter
!/plugins/system
!/plugins/other
/renderers/*/config.yaml
/resources
/dump.rdb
/pnpm-lock.yaml
/*.sh